@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'AT Name Sans Variable';
	src: url('https://jesi-rgb-fonts.s3.eu-west-3.amazonaws.com/AT-NameSansVariable.ttf');
	font-weight: 1 1000;
}

@font-face {
	font-family: 'AT Name Sans Mono';
	src: url('https://jesi-rgb-fonts.s3.eu-west-3.amazonaws.com/ATNameMono-Medium.otf');
	font-weight: 500;
}

@font-face {
	font-family: 'AT Name Sans Mono Italic';
	src: url('https://jesi-rgb-fonts.s3.eu-west-3.amazonaws.com/ATNameMono-MediumItalic.otf');
	font-weight: 500;
	fonst-style: italic;
}

@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'dancingview';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(98% 0.001 106.423);
	--color-base-200: oklch(97% 0.001 106.424);
	--color-base-300: oklch(92% 0.003 48.717);
	--color-base-content: oklch(55% 0.013 58.071);
	--color-primary: oklch(93% 0.032 255.585);
	--color-primary-content: oklch(42% 0.199 265.638);
	--color-secondary: oklch(97% 0.014 254.604);
	--color-secondary-content: oklch(37% 0.146 265.522);
	--color-accent: oklch(44% 0.011 73.639);
	--color-accent-content: oklch(92% 0.003 48.717);
	--color-neutral: oklch(92% 0.003 48.717);
	--color-neutral-content: oklch(14% 0.004 49.25);
	--color-info: oklch(58% 0.158 241.966);
	--color-info-content: oklch(95% 0.026 236.824);
	--color-success: oklch(92% 0.084 155.995);
	--color-success-content: oklch(52% 0.154 150.069);
	--color-warning: oklch(90% 0.076 70.697);
	--color-warning-content: oklch(55% 0.195 38.402);
	--color-error: oklch(89% 0.058 10.001);
	--color-error-content: oklch(51% 0.222 16.935);
	--radius-selector: 0px;
	--radius-field: 0px;
	--radius-box: 0px;
	--size-selector: 0.1875rem;
	--size-field: 0.1875rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}



@plugin "daisyui/theme" {
	name: "barelycookie";
	default: false;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(27% 0.006 286.033);
	--color-base-200: oklch(21% 0.006 285.885);
	--color-base-300: oklch(14% 0.005 285.823);
	--color-base-content: oklch(96% 0.007 247.896);
	--color-primary: oklch(42% 0.199 265.638);
	--color-primary-content: oklch(88% 0.059 254.128);
	--color-secondary: oklch(66% 0.179 58.318);
	--color-secondary-content: oklch(98% 0.022 95.277);
	--color-accent: oklch(90% 0.182 98.111);
	--color-accent-content: oklch(42% 0.095 57.708);
	--color-neutral: oklch(21% 0.006 285.885);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(78% 0.154 211.53);
	--color-info-content: oklch(30% 0.056 229.695);
	--color-success: oklch(84% 0.238 128.85);
	--color-success-content: oklch(27% 0.072 132.109);
	--color-warning: oklch(85% 0.199 91.936);
	--color-warning-content: oklch(28% 0.066 53.813);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@theme {
	--font-sans: AT Name Sans Variable;
	--font-mono: AT Name Mono Variable;
	--color-border: color-mix(in oklch, var(--color-base-100), var(--color-base-content) 30%);
}

:root {
	svg {
		font-family: var(--font-sans);
	}
}
